@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,600;9..40,700&display=swap');
@import "tailwindcss";

:root {
  --background: #0a253a;
  --foreground: #ffffff;
}

* {
  font-family: 'Poppins', sans-serif;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Poppins', sans-serif;
}
